<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Selection page - BookMyMovie</title>
  </head>
  
  
  <body>
    <app-header></app-header>
<div class="container text-center">
    <img src="/assets/error.jpg" alt="Exclamation Mark" width="100" height="100">
    <h2>{{ errorMessage }}</h2>
    <a class="btn btn-primary" href="">Back to Home</a>
  </div>
  <app-footer></app-footer>
  </body>
  
</html>