
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Booking App</title>
</head>

<body>
<app-header></app-header>
  <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <h1>Welcome to the Movie Booking App</h1>
      <div class="mt-4">
        <a href="/login" class="btn btn-primary mr-3">Login</a>
        <a href="/register" class="btn btn-secondary">Register</a>
      </div>
    </div>
  </div>
<app-footer></app-footer>
</body>
</html>


