<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - BookMyMovie</title>
</head>

<body class="bg-light-blue text-black">
  <app-header></app-header>

  <div class="card p-4">
    <h2 class="mb-4 text-center">Register</h2>
    <form ngNativeValidate (ngSubmit)="register()" #registerForm="ngForm">
      <div class="form-group">
        <label for="loginId">Login ID</label>
        <input type="text" class="form-control" id="loginId" name="loginId" required [(ngModel)]="registerData.loginId">
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required [(ngModel)]="registerData.firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required [(ngModel)]="registerData.lastName">
      </div>
      <div class="form-group">
        <label for="contactNumber">Contact Number</label>
        <input type="number" class="form-control" id="contactNumber" name="contactNumber" required [(ngModel)]="registerData.contactNumber" pattern="[0-9]{10}">
        <div *ngIf="registerForm.controls['contactNumber'].hasError('pattern')" class="text-danger">
          Contact number must be exactly 10 digits.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="registerData.email" >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="registerData.password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required
          [(ngModel)]="registerData.confirmPassword" #confirmPasswordInput="ngModel">
        <div *ngIf="confirmPasswordInput.touched && !passwordsMatch" class="text-danger">
          Passwords do not match.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>

<app-footer></app-footer>
</body>

</html>