body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes at least the full viewport height */
  }

app-footer {
    margin-top: auto;
  }

.input-group{
    margin-top: 20px;;
}