<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page - BookMyMovie</title>
  </head>
  
  
  <body>
    <app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-10 col-md-6">
        <div class="input-group mb-1">
          <input type="text" class="form-control" placeholder="Enter Username" [(ngModel)]="username">
          <div class="input-group-append">
            
          </div>
        </div>
        <div class="input-group mb-1">
          <input type="text" class="form-control" placeholder="Enter New Password" [(ngModel)]="newPassword">
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="resetPassword()">
              <i class="fa fa-search"></i> Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <app-footer></app-footer>
</body>

</html>
